$board-width: 1000px;
$board-height: 643px;
$hand-height: 100px;
$sidebar-width: 200px;
$gold: #AC8F53;

html, body {
	height: 100%;
	width: 100%;
}

html {
	background-image: url('../assets/wood.jpg');
	font-family: Segoe, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

body {
	margin: 0;
}

#container {
	width: $board-width + $sidebar-width;
	margin: auto;
}

#sidebar {
	width: $sidebar-width;
	height: $board-height + $hand-height;
	float: left;
	box-sizing: border-box;
	color: $gold;
	padding-top: 112px;

	.player-info {
		background-color: rgba(0, 0, 0, 0.5);
		padding: 20px 8px;
		font-weight: bold;

		.player-name {
			font-weight: bold;
			font-size: 14pt;
		}

		.cards-remaining {
			font-size: 20pt;
		}

		.player-strength {
			position: relative;
			float: right;
			top: 7px;
			width: 40px;
			height: 40px;
			left: 30px;
			text-align: center;
			color: black;
			background-color: $gold;
			border: 2px solid white;
			box-sizing: border-box;
			border-radius: 30px;
			padding-top: 9px;
		}

		.ruby {
			width: 25px;
			height: 25px;
			float: right;
			margin-left: 5px;
			margin-top: 3px;
		}
	}

	.last-played {
		width: 100%;
		height: 111px;
		padding: 8px;
		background-color: rgba(0, 0, 0, 0.5);
		margin: 61px 0px;
		list-style-type: none;
		box-sizing: border-box;

		> span {
			margin-top: 21px;
			float: left;
			font-size: 14pt;
			font-weight: bold;
		}
		.card {
			float: right;
		}
	}

	.pass {
		display: block;
		padding: 15px;
		margin-top: 27px;

		text-align: center;
		font-weight: bold;
		font-size: 15pt;
		background-color: rgba(0, 0, 0, 0.5);
		cursor: pointer;

		&:hover {
			box-shadow: inset 0px 0px 30px 8px rgba(172, 143, 83, 0.6);
		}
		&:active {
			box-shadow: inset 0px 0px 30px 8px gold;
		}
	}
}

#board-container {
	width: $board-width;
	height: $board-height + $hand-height;
	margin-left: $sidebar-width;
}

#board {
	/*Original size: 2581x1660*/
	width: $board-width;
	height: $board-height;
	background-image: url('../assets/board.jpg');
	background-size: 100% 100%;
}

.alert {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;

	.alert-msg {
		width: 50%;
		height: 30%;
		background-color: rgba(0, 0, 0, 0.8);
		text-align: center;
		margin: 200px 25%;
		border-radius: 15px;
		padding-top: 90px;
		color: white;

		box-shadow: $gold 0px 0px 10px 6px inset;
	}
}

.hand {
	height: $hand-height;
	width: $board-width - 100px;
	text-align: center;

	ul {
		display: inline-block;
		list-style-type: none;
		margin-top: 0px;
		.card {
			cursor: pointer;
			&:hover {
				box-shadow: white 0px 0px 5px 2px inset;
			}
			&:active {
				box-shadow: gold 0px 0px 5px 2px inset;
			}
		}
	}
}

.highlight {
	box-shadow: inset 0px 0px 30px 8px rgba(172, 143, 83, 0.6);
	&:hover:not(.player-info) {
		box-shadow: inset 0px 0px 30px 8px gold;
		cursor: pointer;
	}
}

.card {
	width: 75px;
	height: 95px;

	border: 2px solid black;
	border-radius: 5px;
	box-sizing: border-box;

	float: left;
	position: relative;

	margin-left: -15px;
	background-color: gray;
	color: black;

	.name {
		font-size: 8pt;
		text-align: center;
		padding-left: 4px;
		padding-right: 4px;
		color: white;
		text-shadow: 1px 1px black;
	}

	.strength {
		position: absolute;
		bottom: 0;

		padding: 0 5px;
		margin: 4px 4px;
		border: 1px solid $gold;
		border-radius: 12pt;

		background-color: white;
	}

	&.HERO {
		box-shadow: gold 0px 0px 5px 2px inset;

		.name {
			color: gold;
		}

		.strength {
			background-color: black;
			color: gold;
			text-shadow: 1px 1px white;
		}
	}

	.ability {
		position: absolute;
		bottom: 0;

		padding: 0 5px;
		margin: 4px 4px;
		border: 1px solid $gold;
		border-radius: 12pt;

		background-color: white;
		width: 9px;
		height: 18px;
		right: 0px;
		background-size: contain;

		&.SPY {
			background-image: url('../assets/SPY.png');
		}
		&.TIGHTBOND {
			background-image: url('../assets/TIGHTBOND.png');
		}
		&.MORALEBOOST {
			background-image: url('../assets/MORALEBOOST.png');
		}
	}

	&:hover {
		margin-right: 15px;
	}

	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	&.CLOSE {
		background-image: url('../assets/CLOSE.png');
		background-color: #508890;
	}

	&.RANGED {
		background-image: url('../assets/RANGED.png');
		background-color: #815A0F;
	}

	&.SIEGE {
		background-image: url('../assets/SIEGE.png');
		background-color: #232C19;
	}

	&.HORN {
		background-image: url('../assets/HORN.png');
	}

	&.SCORCH {
		background-image: url('../assets/SCORCH.png');
		background-color: #631316;
	}

	&.DECOY {
		background-image: url('../assets/DECOY.png');
		background-color: burlywood;
	}

	&.WEATHER {
		&.CLOSE {
			background-image: url('../assets/FROST.png');
			background-color: snow;
			.name {
				color: black;
				text-shadow: none;
			}
		}
		&.RANGED {
			background-image: url('../assets/FOG.png');
			background-color: gray;
		}
		&.SIEGE {
			background-image: url('../assets/RAIN.png');
			background-color: royalblue;
		}
		&.ALL {
			background-image: url('../assets/CLEAR.png');
			background-color: gold;
		}
		background-size: 50% 40%;
	}
}

.field {
	width: 74%;
	margin-left: 9%;
	.row {
		width: 100%;
		height: 104px;
		box-sizing: border-box;

		.row-strength {
			position: absolute;
			margin-top: 32px;
			margin-left: -40px;
			border: 2px solid white;
			border-radius: 30px;
			padding: 10px 14px;
			background-color: $gold;
		}

		.horn {
			width: 14.5%;
			height: 100%;
			box-sizing: border-box;
			float: left;
			&.active {
				background-image: url('../assets/horncard.png');
				background-size: contain;
				background-repeat: no-repeat;
				background-position-x: center;
			}
		}
		ul {
			width: 86.5%;
			height: 100%;
			list-style-type: none;
			margin-top: 0px;
			margin-left: 14.5%;
			padding-top: 6px;

			box-sizing: border-box;

			&.weather {
				box-shadow: inset 0px 0px 11px 9px #336699;
			}
		}
	}
}